<div class="container has-text-centered">
    <h1 class="title is-1">List Of Restaurants</h1>
</div>

<div class="is-flex is-justify-content-flex-end">
    <%= paginate @restaurants %>
</div>

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Cusine</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @restaurants.each do |res|%>
        <tr>
            <td>
                <%= res.RestaurantName%>
            </td>
            <td>
                <%= res.Cuisine %>
            </td>
            <td>
                <%= link_to 'View', restaurant_path(res), class: "button is-link" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>