<h1>Restaurant#index</h1>

<%= paginate @restaurants %>
<table>
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Cusine</th>
            <th>Head Chef</th>
        </tr>
    </thead>
    <tbody>
        <% @restaurants.each do |res|%>
        <tr>
            <td>
                <%= res.RestaurantName%>
            </td>
            <td>
                <%= res.Cuisine %>
            </td>
            <td>
                <% if res.chefs.count == 0 %>
                  No Chefs
                <% else %>
                <%= res.chefs.first.ChefName %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>