<div>
    <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Restaurants", restaurant_index_path %>
        <%= link_to "Chefs", chef_index_path %>
        <%= link_to "Meals", meal_index_path %>
    </nav>
    <div>

    </div>
</div>