<h1>List of chefs</h1>

<table>
    <thead>
        <tr>
            <th>Chef Name</th>
            <th>Chef Age</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
        <% @chefs.each do |chef|%>
        <tr>
            <td>
                <%= chef.ChefName%>
            </td>
            <td>
                <%= chef.ChefAge%>
            </td>
            <td>
                <%= chef.Nationality%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
