<h1 class="title is-1">Chef <%= @chef.ChefName %></h1>

<div class="columns">
    <div class="column">
    <h3 class="title is-4">Age: <%= @chef.ChefAge%> years</h3>
    <h5 class="title is-5">Nationality: <%= @chef.Nationality%></h5>
    <p> Works at: <%= link_to @chef.restaurant.RestaurantName, restaurant_path(@chef.restaurant)%>
    </div>
    </div>
</div>