<h1 class="title is-1">About</h1>

<h4 class="subtitle is-3">Chef Registry Datasources</h4>







<div class="container">

<div class="content">

    <h2>Chef</h2>

        <p>For the Chef's name, age and nationality I used the <strong>Faker Gem</strong><sup><a href="https://github.com/faker-ruby/faker">[1]</a></sup> to generate the data dynamically.</p>

    <h2>Restaurant</h2>

        <p>The restaurant data was sourced from the <strong>Dinesafe</strong> open dataset<sup><a href="https://open.toronto.ca/dataset/dinesafe/">[2]</a></sup>. Dinesafe is a food safety program that inspects all establishments serving food. I extracted the Name of the restaurant and the location coordinates for the map.

            The API provided has a link to a downloadable CSV file which was stored in the project's db folder. In the db/seed.rb file, the data is read from the file, but only the mentioned columns were taken. It was also filtered by the "Establishment Type" to retrieve strickly restaurants.

        </p>

    <h2>Meal</h2>

        <p>The meal data came from the free API provided by <strong>TheMealDB</strong><sup><a href="https://www.themealdb.com/api.php">[3]</a></sup>. None of the APIs provided a way to directly access <strong>all</strong> meals in all <strong>categories</strong>. So a script was written to read all the meals for each category and then store the results in a csv file. The csv file was then imported into the db folder to be read in the db/seed.rb file.</p>




</div>